body {
  background-color: rgb(184, 234, 254);
}

.logo-container {
  margin: 0 auto;
  text-align: center;
}

.logo-link {
  margin: 0px auto;
}

.logo {
  display: inline;
  height: auto;
  margin: 20px auto;
  width: 30%;
}

.logo:hover {
  animation: myAnimation 0.8s;
}

.filters-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  padding: 20px;
}

.form-control-sm {
  width: 15vw;
}

.form-control {
  display: block;
  width: 15vw;
}

.row {
  row-gap: 10px;
}

.card {
  background-color: rgb(184, 234, 254);
  border: none !important;
  padding: 10px;
}

.card-image {
  border-radius: 50%;
}

.card-image:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: medium;
}

button.link {
  background: none;
  border: none;
}

@keyframes myAnimation {
  from {
    transform: (0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* @keyframes myAnimation {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
} */
