#carouselExampleIndicators {
  margin: auto;
  width: 100%;
}

.carousel-inner > .carousel-item > img {
  /* adds same height for carousel pics */
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-caption {
  background: rgba(
    0,
    0,
    0,
    0.6 /*  the last value is the opacity : 1 is black, 0 is transparent. */
  );
  font-size: large;
}

.w-100 {
  width: 100% !important;
}

.d-block {
  display: block !important;
}

#more {
  display: none;
}

.minilink {
  color: white;
  text-decoration: none;
}

p {
  padding: 10px;
}

.bottom-right {
  bottom: 8px;
  color: white;
  font-size: x-small;
  position: absolute;
  right: 16px;
  text-align: center;
  width: 11vw;
}
