#carouselExampleIndicators {
  width: 100%;
  margin: auto;
}

.carousel-inner > .carousel-item > img {
  /* adds same height for carousel pics */
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-caption {
  background: rgba(
    0,
    0,
    0,
    0.4 /*  the last value is the opacity : 1 is black, 0 is transparent. */
  );
  font-size: large;
}

.w-100 {
  width: 100% !important;
}

.d-block {
  display: block !important;
}
