h4 {
  text-align: center;
}

.movie-details {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  gap: 10vh;
}

.movie-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.overview {
  text-align: center;
  margin: auto;
}
