h4 {
  text-align: center;
  color: darkgray;
}

img {
  border-radius: 10%;
}

body {
  background-color: rgb(184, 234, 254);
}

.movie-details {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  gap: 10vh;
}

.movie-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.overview {
  text-align: center;
  margin-top: 10vh;
}

.img-fluid {
  max-width: 60%;
}
