h4 {
  text-align: center;
  color: darkgray;
}

img {
  border-radius: 10%;
}

body {
  background-color: rgb(184, 234, 254);
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  justify-content: center;
}

.movie-info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  justify-content: center;
  width: 50%;
}

.img-fluid {
  width: 20vw;
  height: 50vh;
  border: solid white 2px;
}

.video-container {
  margin-top: 20px;
  text-align: center;
}

.video-container iframe {
  margin: auto;
  width: 50vw;
  height: 40vh;
  margin-bottom: 10px;
  border: none;
}

h5 {
  text-align: center;
  font-size: x-large;
}
