.card {
  background-color: rgb(184, 234, 254);
}

.card-image {
  border-radius: 5%;
  margin: 20px;
}

.single-line {
  overflow: hidden;
  line-height: 2rem;
  max-height: 8rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
