h1 {
  text-align: center;
}

.navbar-brand {
  font-family: "Chewy", serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}

.nav-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#more {
  display: none;
}
