body {
  background-color: rgb(184, 234, 254);
}

h1 {
  font-family: "Poppins", serif;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

h3 {
  color: darkslategrey;
  font-family: "Poppins", serif;
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.img-fluid {
  border: solid white 2px;
  border-radius: 10%;
  height: 40%;
  width: 20%;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  width: 40%;
}

.short-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

h5 {
  font-size: xx-large;
  text-align: center;
}

.video-container {
  margin-top: 20px;
  text-align: center;
}

.video-container iframe {
  border: solid white 2px;
  height: 40vh;
  margin-bottom: 10px;
  margin: auto;
  width: 50vw;
}
